*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #587291;/*#4164ab; #42ad9b;#ecf2f8;*/
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#Website-header, #code-solutions-container
{
    padding: 2% 2%;
}

.site-header h1
{
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.site-header p
{
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.first-header-paragraph 
{
    padding-top: 3%;
}

.container-bg-color
{
    background-color: #fff;/*lightblue;*/
}

.content
{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-direction: column;
}

.content img
{
    border-radius: 5%;
}

.text-container p
{
    font-size: 0.7rem;
    padding-left: 20px;
}

.text-container h4
{
    padding-left: 20px;
    padding-right: 20px;
}

.grid-item
{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1.0);
    margin-right: 15px;
    margin-left: 15px;
}

.button-container
{
    padding: 5px;
}

button
{
    padding: 10px;
    border-radius: 5px;
    background-color: #587291;/*#027a0e;*/
    color: white;
    font-size: 0.9rem;
}

button:hover
{
    cursor: pointer;
    opacity: 0.8;
    background: black;
    transition: 0.5s;
}

.back-on-top-button 
{
    text-align: center;
    margin: 0 0 10px 10px;
}

.back-on-top-button a
{
    color: white;
    font-size: 2rem;
    background: rgb(51, 51, 51);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 10px;
}

.back-on-top-button a:hover
{
    background: black;
    transition: 0.7s;
}

footer
{
    text-align: center;
}

footer p
{
    color: white;
    padding-bottom: 5px;
}

@media(min-width: 576px)
{
    #code-solutions-container, .row
    {
        display: flex;
    }
    
    #code-solutions-container
    {
        flex-direction: column;
        flex-basis: 100%;
    }

    #Website-header, #code-solutions-container,
    #back-on-Top, footer
    {
        margin: 0 auto;
        max-width: 900px;
    }

    .grid-item
    {
        flex-basis: 33%;
    }
}